---
layout: default
title: 李坤的博客
css: /css/index.css
---

<div class="container">
  <ul class="posts">
    {% for post in site.posts %}
    <li class="post">
      <a href="{{ post.url }}">
        <h2 class="title">{{ post.title }}</h2>
        <div class="excerpt">{{ post.description}}</div>
        <div class="excerpt">{{ post.excerpt | strip_html }}</div>
        <div class="time">{{ post.date | date: '%Y-%m-%d' }} </div>
      </a>
    </li>
    {% endfor %}
  </ul>
  <div class="tags">
    <h3 class="title">All TAGS</h3>
    <div class="box">
      {% for tag in site.tags %}
      <a class="tag" href="/tags/#{{ tag[0] }}">{{ tag[0] }}</a>
      {% endfor %}
    </div>
  </div>
</div>
