@import "./theme.scss";

.container {
  padding: 50px 0;
  display: flex;
  width: 1000px;
  margin: 0 auto;
}

.posts {
  flex: 1 1 auto;
}

.post {
  padding: 16px 0;
  border-bottom: 1px solid #f2f2f2;
  flex: 0 0 auto;

  &:hover {
    .title, .excerpt {
      color: $color2;
    }
  }

  .title {
    font-size: 22px;
    color: #000;
    margin-bottom: 8px;
    transition: color 0.3s;
  }

  .excerpt {
    color: #555;
    font-size: 16px;
    margin-bottom: 6px;
    transition: color 0.3s;
  }

  .time {
    font-size: 14px;
    color: #999;
    text-align: right;
  }
}

.tags {
  width: 210px;
  flex: 0 0 auto;
  margin-left: 30px;

  .title {
    margin-bottom: 10px;
    font-size: 14px;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
  }

  .box {
    display: flex;
    flex-wrap: wrap;
  }

  .tag {
    font-size: 12px;
    transition: border-color 0.4s;
    color: #888;
    padding: 8px 12px;
    line-height: 1.2;
    position: relative;
    border-radius: 9em;
    border: 1px solid #e9e9e9;
    margin: 0 6px 6px 0;

    &:hover {
      border-color: $color;
      color: $color;
      z-index: 1;
    }
  }
}

@media (max-width: 1200px) {
  .container {
    width: 900px;
  }
}

@media (max-width: 1000px) {
  .container {
    width: 700px;
  }

  .tags {
    display: none;
  }
}

@media (max-width: 768px) {
  .container {
    width: 90vw;
    padding: 20px 0;
  }

  .post {
    border-color: #ddd;

    .title {
      font-size: 18px;
    }

    .excerpt {
      font-size: 14px;
    }

    .time {
      font-size: 12px;
    }
  }


  .tags {
    display: none;
  }
}
